//<script type="text/jsx">

    function OrdenIngresoListar() {
        const [dataSource, setDataSource] = useState([]);
        useEffect(listarOrdenIngreso, []);
        const history = useHistory();
        //const navigate=useNavigate()
        function listarOrdenIngreso() {
            google.script.run
                .withSuccessHandler(res => {
                    const xdatausuarios = res.data;
                    let arreglo = [];
                    xdatausuarios.map(ordenIngreso => {
                        arreglo.push({
                            key: ordenIngreso.usuario_id,
                            ...ordenIngreso,
                            acciones:
                                <Button
                                    onClick={() => {
                                        console.log("OrdenIngresoListar:",ordenIngreso);
                                       history.push("/OrdenIngresoRegistro/" + ordenIngreso.usuario_id);
                                       //navigate("/usuarioRegistro/" + ordenIngreso.usuario_id);
                                    }}>
                                    Editar
                                </Button>
                        })
                    })
                    //console.log(arreglo);
                    setDataSource(arreglo);
                }).listarOrdenIngreso();
        }
    
        const columns = [
            {
                title: 'correo',
                dataIndex: 'usuario_email',
                key: 'usuario_email',
            },
            {
                title: 'Apellidos',
                dataIndex: 'usuario_apellidos',
                key: 'usuario_apellidos',
            },
            {
                title: 'Nombres',
                dataIndex: 'usuario_nombres',
                key: 'usuario_nombres',
            },
            {
                title: 'Acciones',
                dataIndex: 'acciones',
                key: 'acciones',
            },
        ];
    
    
    
    
        return (
    
            <Table dataSource={dataSource} columns={columns} />
        );
    }
    
    
    //</script>