//<script type="text/jsx">

function UsuarioRegistro() {

    const [form] = Form.useForm();

    const RegistrarUsuario = (datosFormulario) => {
      //  console.log(datosFormulario);
        notificacionGuardando("Grabando Registro");
        google.script.run.withSuccessHandler(({titulo,descripcion}) => {
 
         // console.log(datosFormulario);
          onreset();
         // console.log(datosFormulario);
            notificacionTareaTerminada(titulo,descripcion);
           
        }).RegistrarUsuario(datosFormulario);
            };
    const onreset =()=>{
        form.resetFields();
    };

    return (
        <Form 
            form={form}
            onFinish={RegistrarUsuario}
            layout="vertical"
        >
        <div className="px-20">
            <h2 className="text-center font-bold text-xl my-6">Registrarse</h2>
          

                <Form.Item
                    name="usuario_apellidos"
                    label="Apellidos"
                    rules={[
    
                        { required: true, message: "el campo de Apellidos  es Requerido para el registro" }
                    ]}
                    >
                    <Input />
                </Form.Item>
                <Form.Item 
                name="usuario_nombres" 
                label="Nombres"
                    rules={[

                        { required: true, message: "el campo de Nombres es Requerido para el registro" }
                    ]}
                >
                    <Input />
                </Form.Item>

                <Form.Item
                    name="usuario_email"
                    label="Email"
                    rules={[
                        { type: "email", message: "el formato no corresponde a un email" },
                        { required: true, message: "el campo de correo es Requerido para el registro" }
                    ]}
                >
                    <Input />
                </Form.Item>
                <Form.Item 
                name="usuario_password" 
                label="Contraseña"
                    rules={[

                        { required: true, message: "el campo de contraseña es Requerido para el registro" }
                    ]}
                >
                    <Password />
                </Form.Item>
                <Form.Item >
                    <Button type="primary" htmlType="submit">Guardar</Button>
                </Form.Item>
            
        </div>
        </Form>

    );
}


//</script>