<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div id=":1ub" class="a3s aiL msg-4296691637217793031"><u></u>



        <div style="margin:0">

            <table style="height:100%!important;width:100%!important;border-spacing:0;border-collapse:collapse">
                <tbody>
                    <tr>
                        <td
                            style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">

                            <table class="m_-4296691637217793031header"
                                style="width:100%;border-spacing:0;border-collapse:collapse;margin:40px 0 20px">
                                <tbody>
                                    <tr>
                                        <td
                                            style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
                                            <center>

                                                <table class="m_-4296691637217793031container"
                                                    style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">

                                                                <table
                                                                    style="width:100%;border-spacing:0;border-collapse:collapse">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="m_-4296691637217793031shop-name__cell"
                                                                                style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
                                                                                <img src="https://drive.google.com/drive/u/0/folders/1w-7M_IgON76b9XTYiqWO6w9fraGLY7QZ"
                                                                                    alt="ZAPATERIA TRUJILLO" width="180"
                                                                                    class="CToWUd" data-bit="iit">
                                                                            </td>

                                                                        </tr>
                                                                    </tbody>
                                                                </table>

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <table style="width:100%;border-spacing:0;border-collapse:collapse">
                                <tbody>
                                    <tr>
                                        <td
                                            style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding-bottom:40px;border-width:0">
                                            <center>
                                                <table class="m_-4296691637217793031container"
                                                    style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">

                                                                <h2
                                                                    style="font-weight:normal;font-size:24px;margin:0 0 10px">
                                                                    ¡Te damos la bienvenida a ZAPATERIA TRUJILLO!</h2>
                                                                <p
                                                                    style="color:#777;line-height:150%;font-size:16px;margin:0">
                                                                    Has activado tu cuenta de cliente. La próxima vez
                                                                    que compres en nuestra tienda, inicia sesión para
                                                                    que tu compra sea más rápida.</p>

                                                                <table
                                                                    style="width:100%;border-spacing:0;border-collapse:collapse;margin-top:20px">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td
                                                                                style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">
                                                                                <table
                                                                                    class="m_-4296691637217793031button m_-4296691637217793031main-action-cell"
                                                                                    style="border-spacing:0;border-collapse:collapse;float:left;margin-right:15px">
                                                                                    <tbody>
                                                                                        <tr>
                                                                                            <td style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;border-radius:4px"
                                                                                                align="center"
                                                                                                bgcolor="#1990C6"><a
                                                                                                    href="https://drive.google.com/drive/u/0/folders/1w-7M_IgON76b9XTYiqWO6w9fraGLY7QZ"
                                                                                                    class="m_-4296691637217793031button__text"
                                                                                                    style="font-size:16px;text-decoration:none;display:block;color:#fff;padding:20px 25px"
                                                                                                    target="_blank"
                                                                                                    data-saferedirecturl="https://www.google.com/url?q=https://zapateriatrujillo.com/_t/c/A1030004-17C4CB76C5A9772C-5AC948B9?l%3DAACYBnH46TiBG80%252FnmzOuPFEYzCVmRARDdGNrxyYX1I2bCl3qEM7wg2Tl7Wu5k7TVJGjOV3%252BJqixmhSp42KXJ81IwkaWqSZ1A5n4zoXg%252BtVrQQv6jKFXlXyTwFzMfQe4z60YvezbUPcy6T9WZse2w6cPFuwnStxAOPdpW4qNDHIHoaP34U8himalmPTST%252BKB70b4wXeiymvDnUJq%252BIXQsXdGUfiStNyp%26c%3DAADxMC5nEzjxMJ3l6hUkfOAWTU3M8iQTSBvduefM%252FHMlRkIjMzhRsjskEKJM%252BpCRLYmUjXV%252FpWD3uPRVE%252F0gQe5LuWrDn%252F38R%252Fb8vIl0T1%252BvWkkzFKvbEDF3rwRxS%252FT%252F0qX%252FjfdFNPA8fNk8XVmlZCTTTmjN9zyhqKtJvMBIgjDAyFHzm077yAFHmU35zf3%252BeWJ6hx5aP%252BSxgVUiUm4Z65a6SZrQBmHsLhQiJd6tB970QK7%252FWKiVidiKubXumcrDHj%252BhEokM1svgvXMYVtqOujdmLVqODm3YWwHdIT3xmRMpVaB5nx0AzmiOmFTpF96QIvLpC91K6r8G%252B%252BJPPPgj3R25N0jhwmlVQeoq6VicKzcSdtDYMXmu&amp;source=gmail&amp;ust=1713094319915000&amp;usg=AOvVaw2Q4phljqlmdOMB-FJv475h"
                                                                                                    jslog="32272; 1:WyIjdGhyZWFkLWY6MTc5NTkxNDQzNTE4MjI5NTMzNCJd; 4:WyIjbXNnLWY6MTc5NTkxNDQzNTE4MjI5NTMzNCJd">Visita
                                                                                                    nuestra tienda</a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>


                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table
                                style="width:100%;border-spacing:0;border-collapse:collapse;border-top-width:1px;border-top-color:#e5e5e5;border-top-style:solid">
                                <tbody>
                                    <tr>
                                        <td
                                            style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif;padding:35px 0">
                                            <center>
                                                <table class="m_-4296691637217793031container"
                                                    style="width:560px;text-align:left;border-spacing:0;border-collapse:collapse;margin:0 auto">
                                                    <tbody>
                                                        <tr>
                                                            <td
                                                                style="font-family:-apple-system,BlinkMacSystemFont,&quot;Segoe UI&quot;,&quot;Roboto&quot;,&quot;Oxygen&quot;,&quot;Ubuntu&quot;,&quot;Cantarell&quot;,&quot;Fira Sans&quot;,&quot;Droid Sans&quot;,&quot;Helvetica Neue&quot;,sans-serif">

                                                                <p
                                                                    style="color:#999;line-height:150%;font-size:14px;margin:0">
                                                                    Si tienes alguna pregunta, responde este correo
                                                                    electrónico o contáctanos a través de <a
                                                                        href="mailto:ventas@zapateriatrujillo.com"
                                                                        style="font-size:14px;text-decoration:none;color:#1990c6"
                                                                        target="_blank">ventas@zapateriatrujillo.com</a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </center>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                            <img src="https://ci3.googleusercontent.com/meips/ADKq_NbTVurv9Myfyz9PhnR6e2VliLt0CFlSGZQ-llBSyYXgCJk484f6C9PtRc3NQ--UqTVQLrUbxo9QnW7Jeol11m54Ffyk3C_-YGtSYbBtM-pocpNiNcD8mIkv3bNN3eh5HpLh1tiKiOpQakyoPqKg8tioAtjIe3HfGjshqtJap0HP0qao4Rdp96g8T6NDAFRUjXK3PAB6N0Hki6PwEBf3ccdaPkQ3EqMHTw-WD8MjTbiKIoAM=s0-d-e1-ft#https://cdn.shopify.com/shopifycloud/shopify/assets/themes_support/notifications/spacer-1a26dfd5c56b21ac888f9f1610ef81191b571603cb207c6c0f564148473cab3c.png"
                                class="m_-4296691637217793031spacer CToWUd" height="1" style="min-width:600px;height:0"
                                data-bit="iit">

                        </td>
                    </tr>
                </tbody>
            </table>




        </div>
        <div class="iX">...<br><br>[Mensaje acortado]&nbsp;&nbsp;<a
                href="https://mail.google.com/mail/u/0?ui=2&amp;ik=ce3bbd3bc1&amp;view=lg&amp;permmsgid=msg-f%3A1795914435182295334&amp;ser=1"
                target="_blank">Ver mensaje completo</a></div>
    </div>
</body>

</html>