<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table style="width:100%;border-spacing:0;border-collapse:collapse">
        <tbody>
            <tr>
                <h3>APMR DEVELOPERs </h3>
            </tr>
            <tr>
                <h2
                style="font-weight:normal;font-size:24px;margin:0 0 10px">
                ¡Te damos la bienvenida a APMR Developers</h2>
            </tr>
            <tr>
                <p
                style="color:#777;line-height:150%;font-size:16px;margin:0">
                Has activado tu cuenta de APMR Developers. La próxima vez
                que quieras ganar algo extra Ingresa a nuestra Pagina, inicia sesión para
                que tu proyecto sea más rápido.</p>
            </tr>
          

        </tbody>
    </table>
</body>

</html>